* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)),
    url(imagens/Background\ Caminhões.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#Menu {
  background-color: #000000;
}

#Menu ul {
  list-style-type: none;
  padding: 0;
  background-color: black;
  position: relative;
  z-index: 1;
}

#Menu ul li {
  display: inline;
}

#Menu ul li a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 8.5px;
  transition: background .3s;
}

#Menu ul li a:last-child i {
  float: right;
  color: #ffffff;
  background-color: #3c00a0;
}

#Menu ul li a:hover {
  background-color: #3c00a0;
}

.container .card {
  height: 379px;
  width: 300px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.3s;
}

.container .card:hover {
  transform: scale(1.05);
}

.container .card h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  margin: 20px;
  opacity: 1;
  transition: opacity 1s;
}

.container .card .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.container .card .icons i {
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: opacity 1s;
}

.container .card0 {
  background: url('imagens/caminhão\ toco.jpg') center center no-repeat;
  background-size: 250px;
  height: 300%;
}

.container .card1 {
  background: url('imagens/Caminhão\ 3-4.jpg') center center no-repeat;
  background-size: 250px;
  height: 300%;
}

.container .card2 {
  background: url('imagens/Caminhão\ truck.jpg') center center no-repeat;
  background-size: 250px;
  height: 300%;
}

.container .card:hover h2,
.container .card:hover .icons i {
  opacity: 1;
}